%dimension {
    height: 100%;
    width: 100%;
}

html,
body {
    @extend %dimension;
}

//index.html

#block {
    @extend %dimension;
    display: grid;
    grid-template-rows: auto auto;
}

#text-block {
    display: grid;
    justify-content: center;
    align-content: center
}

#text {
    font-size: 5em;
}

#button-block {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2em;
    justify-content: center;
    align-content: start
}

//action.html

#main {
    @extend %dimension;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#riddle {
    font-size: 2em;
    margin: 1em;
}

#form {
    display: flex;
    flex-direction: column;
}

#form>* {
    margin: 10px;
}

#user-input {
    text-align: center;
}

#buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2px;
}